#       SPI name   FPGA pin    FTDI pin
#set_io   gpio_l2   1         # BDBUS6 (45)
#set_io   gpio_l1   2         # BDBUS5 (44)
#set_io   gpio_l0   3         # BDBUS4 (43)

# SPI signals:
#              name   FPGA pin    FTDI pin
set_io           cs   4         # BDBUS3 (41)
set_io         miso   7         # BDBUS2 (40)
set_io         mosi   8         # BDBUS1 (39)
set_io         sclk   9         # BDBUS0 (38)

# LEDs:
set_io D1 99
set_io D2 98
set_io D3 97
set_io D4 96
set_io D5 95 # center

set_io clk 21

